:root {

    --primary-blue: #0065ca;
    --primary-blue-active: #0051a2;
    --primary-blue-background-10: #cce0f4;

    --primary-green: #abda4f;
    --primary-green-active: #89ae3f;
    --primary-green-background-10: #eef8dc;

    --accent-error: #e51a40;
    --accent-error-active: #b40425;
    --red-aptus-lighter: #f8dcdc;
}